@charset "UTF-8";
/* CSS Document */

 		 h1{font-size: 50px; font-weight: bold;}
         h2{font-size: 20px; font-weight: normal;}
		 @media screen and (min-width: 900px) {
		 h2{font-size: 30px;}
		 }
         h3{font-size: 20px; font-weight: bold;}
		 h4{font-size: 32px; font-weight: bold;}
		 @media screen and (min-width: 900px) {
		 h4{font-size: 70px;}
		 }
         p{color:#333333;}
		 a{display: inherit; text-decoration: none;}
		 body{background-color: #FCFCFC;}
		 .cardlink{ color:black; underline: none;}
         .grey-text{color:#666666;}
         .black-text{color:#999999;}
         .white-text{color:#999999;}
         .button-main{background-color:#2EA5FF;}
		  .title-image:hover{opacity: .5; cursor: pointer;}
         .footer-text{display: inline-block;}
         .dribbble{max-width: 50; max-height: 50; background-image:url(images/dribbble.svg)}
         .container2{
         position: relative;
		 overflow: hidden;
         }
		
 		.container2:hover .overlay2 {
         opacity: 1;
		cursor: pointer;
			 
		  }
		 .container2:hover img{ 
		 -webkit-filter: blur(3px);
		 -moz-filter: blur(5px);
         -o-filter: blur(5px);
         -ms-filter: blur(5px);
         filter: blur(5px);
		 }
		
         .overlay2:hover 
	     .text2{
		 color:#666666;
         opacity: 1;
         }
 		.container3 {
		display: block;
		padding: 30px;
		background-color: #ffffff;
		position: relative;
         }
 		
         .image2 {
         display: block;
         width: 100%;
         height: auto;
		 overflow: hidden;
		 cursor: pointer;	 
         }
         .overlay2 {
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         opacity: 0;
         transition: .2s ease;
         background-color: rgba(255, 255, 255, .8);
         }
        
         .text2 {
         font-weight: bold;
         font-size: 40px;
         position: absolute;
         top: 50%;
         left: 50%;
         -webkit-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
         text-align: center;
         opacity: 0;
         transition: 1s ease;
         }

		.social{
		opacity: .5;
		}
 		@media screen and (min-width: 900px) {
		 .social{width: 30px;}
		 }
		.social:hover{
		opacity: .2;
	    
		 } 

.lightbox-text{
	padding-left:20px;
	display: inline-block;
}







		